<!DOCTYPE html>
<html>
  <head>
    <title>Course Data</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Course Data Server</h1>
    <p>This is the endpoint for an API
      which sends JSON data about
      Brandeis courses.
    </p>
    <h2>API</h2>
    <pre>
      The API currently supports 2 get requests:
      /coursesBySubject/SUBJECT
         which returns a JSON list of all courses
         in that SUBJECT
      /coursesByEmail/EMAIL 
         which returns all courses where the
         instructor email is EMAIL@brandeis.edu
    </pre>
  </body>
</html>
